@charset "UTF-8";
/* Body */
.body__background__color {
  background-color: black; }

/* Nav*/
.nav__background__color {
  background-color: whitesmoke; }

/* Titulos */
.article__title__color {
  background-color: white; }

/* figures */
.figure__CaptionBackground__color {
  background-color: white; }

/* Footer*/
.div__btn-background-red__youtube {
  background-color: #bb4e3b; }

.div__btn-background-red__facebook {
  background-color: #5f5fcf; }

.div__btn-background-red__instagram {
  background-color: #e0b53c; }

/* Nav */
.nav__links__fuente {
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; }

/* Titulos */
.article__title__fuente {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder; }

/* Paralax */
.paralax__stroke__fuente {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: white;
  font-size: 68px;
  letter-spacing: 2.25rem; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .paralax__stroke__fuente {
      font-size: 48px;
      letter-spacing: 1.5rem; } }
  @media only screen and (max-width: 768px) {
    .paralax__stroke__fuente {
      font-size: 36px;
      letter-spacing: 0.5rem; } }

/* Titulo en "Hits" */
.div__titleHits__fuente {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: white; }

/* Texto */
.article__paragraph__fuente {
  font-size: 22px;
  font-family: 'KoHo', sans-serif;
  font-weight: 800;
  color: white; }
  @media only screen and (max-width: 768px) {
    .article__paragraph__fuente {
      font-size: 18px;
      font-weight: bold; } }

/* Figures */
.figure__figCaption__fuentes {
  font-weight: 700; }

/* Footer */
.footer__links__fuente {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold; }
  .footer__links__fuente a {
    text-decoration: none;
    color: inherit; }

.footer__redes__fuente {
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  transition: 0.4s; }
  .footer__redes__fuente i {
    color: white; }

.footer__redes__fuente:hover {
  font-size: 48px; }

/* Titulos */
.article__titleHits__espacio {
  padding: 15px;
  margin-bottom: 15px; }

.article__title__espacio {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px; }

.div__title__espacio {
  display: flex;
  justify-content: center;
  padding: 28px; }

/* Paralax */
.paralax__title__espacio {
  display: flex;
  justify-content: center;
  padding: 28px;
  margin-top: 180px; }
  @media only screen and (max-width: 768px) {
    .paralax__title__espacio {
      margin-top: 120px; } }

/* Texto */
.p__figureText__espacio {
  display: flex;
  align-self: center;
  padding-left: 100px;
  padding-right: 100px;
  size: 90%; }
  @media only screen and (max-width: 768px) {
    .p__figureText__espacio {
      padding-left: 0px;
      padding-right: 0px; } }

/* Figures */
.div__imgTemporada__espacio {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 20px; }

.div__alignItems__espacio {
  display: flex;
  align-items: center; }

/* sliders */
.slider__tamaño__espacio {
  width: 50%;
  height: auto; }
  @media only screen and (max-width: 768px) {
    .slider__tamaño__espacio {
      width: 100%; } }

/* containers */
.container__0margin__espacio {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px; }

/* Imagenes */
.img__w100__espacio {
  width: 100%; }

.img__w50__espacio {
  width: 50%; }

.img__w49__espacio {
  width: 49%; }

/* Footer */
.footer__margin__espacio {
  margin-top: 45px;
  margin-bottom: 45px; }

.footer__center__espacio {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer__horizontal__espacio {
  width: 33%; }

/* Formulario */
.footer__TextAreaLargo__espacio {
  width: 300px; }

@media only screen and (max-width: 768px) {
  .footer__MarginMobile__espacio {
    margin-top: 45px; } }

.figure__size__espacio {
  height: 70%;
  width: 70%; }

/* Titulos */
.article__title__border {
  border-top: solid;
  border-bottom: solid;
  border-radius: 1px;
  border-color: black; }

/* Paralax */
.header__paralax__animacion {
  background-image: url(../assets/images/principio/paralax/portada.jpg);
  height: 500px;
  background-attachment: fixed; }
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header__paralax__animacion {
      background-image: url(../assets/images/principio/paralax/portada2.jpg); } }
  @media only screen and (max-width: 768px) {
    .header__paralax__animacion {
      background-image: url(../assets/images/principio/paralax/portada3.jpg);
      height: 400px; } }

/* Imagenes Accesorios */
.img__graytransform__animaciones {
  filter: grayscale(0.5) brightness(0.5);
  transition: 0.5s linear; }
  @media only screen and (max-width: 768px) {
    .img__graytransform__animaciones {
      filter: grayscale(0) brightness(1); } }

.img__graytransform__animaciones:hover {
  filter: grayscale(0) brightness(1); }

input[type=checkbox] {
  display: none; }

.label-position {
  margin: 0px 5px; }

.store__dropdown__espacio {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 0%;
  margin: 1vw;
  width: 20%;
  height: 10%;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  transition: 1s; }

.store__dropdown__espacio:hover {
  height: 80%; }
  .store__dropdown__espacio:hover .item-list {
    height: 80%; }

#popup-store:checked ~ .store__dropdown__espacio {
  display: flex; }

.item-list {
  width: 90%;
  height: 0%;
  overflow: auto;
  transition: 1s; }

.precio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%; }
