/* Paralax */
.header__paralax__animacion{
    background-image: url(../assets/images/principio/paralax/portada.jpg);
    height: 500px;
    background-attachment: fixed;
    @media only screen and (min-width: 769px) and (max-width:1024px){
        background-image: url(../assets/images/principio/paralax/portada2.jpg);
    }
    @media only screen and (max-width: 768px){
        background-image: url(../assets/images/principio/paralax/portada3.jpg);
        height: 400px;
    }
}

/* Imagenes Accesorios */
.img__graytransform__animaciones{
    filter: grayscale(0.5) brightness(0.5);
    transition: 0.5s linear;
    @media only screen and (max-width: 768px){
        filter: grayscale(0) brightness(1);
    }
}

.img__graytransform__animaciones:hover{
    filter: grayscale(0) brightness(1);
}