/* Paralax */
.header__paralax__animacion{
    background-image: url(../assets/images/principio/paralax/portada.jpg);
    height: 500px;
    background-attachment: fixed;
    background-position: 0 59 0 0;
    @media only screen and (max-width: 768px){
        height: 400px;

    }
}

/* Imagenes Accesorios */
.img__graytransform__animaciones{
    filter: grayscale(0.5) brightness(0.5);
    transition: 0.5s linear;
    @media only screen and (max-width: 768px){
        filter: grayscale(0) brightness(1);
    }
}

.img__graytransform__animaciones:hover{
    filter: grayscale(0) brightness(1);
}