$body-color: rgb(0, 0, 0);
$nav-color:  rgb(245, 245, 245);

/* Body */
.body__background__color{
    background-color: $body-color;
}

/* Nav*/
.nav__background__color{
    background-color: $nav-color;
}

/* Titulos */
.article__title__espacio{
    background-color: rgb(255, 255, 255);
}

/* figures */
.div__figCaptionBackground__color{
    background-color: white;
}

/* Footer*/
$footer-redes-colores: (
    youtube: rgb(187, 78, 59),
    facebook: rgb(95, 95, 207),
    instagram: rgb(224, 181, 60)
    );

@each $red, $color in $footer-redes-colores {
        .div__btn-background-red__#{$red}{
            background-color: $color;
        }
}