



.article__title__espacio{
    padding:15px;
    margin: 15px;
}

.div__imgTemporada__espacio{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}
.div__title__espacio{
    display: flex;
    justify-content: center;
    padding: 28px;
}