


/* Titulos */
.article__titleHits__espacio{
    padding:15px;
    margin-bottom: 15px;
}
.article__title__espacio{
    padding:15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div__title__espacio{
    display: flex;
    justify-content: center;
    padding: 28px;
}

/* Paralax */
.paralax__title__espacio{
    display: flex;
    justify-content: center;
    padding: 28px;
    margin-top: 180px;
    @media only screen and (max-width: 768px){
        margin-top: 120px;
    }
}

/* Texto */
.p__figureText__espacio{
    display: flex;
    align-self: center;
    padding-left: 100px;
    padding-right: 100px;
    size: 90%;
    @media only screen and (max-width: 768px){
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Figures */
.div__imgTemporada__espacio{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}
.div__alignItems__espacio{
    display:flex;
    align-items: center;
}

/* sliders */
.slider__tamaño__espacio{
    width: 50%;
    height: auto;
    @media only screen and (max-width: 768px){
        width: 100%;
    }
}



/* containers */
.container__0margin__espacio{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

/* Imagenes */
.img__w100__espacio{
    width: 100%
}
.img__w50__espacio{
    width: 50%
}
.img__w49__espacio{
    width: 49%;
}

/* Footer */
.footer__margin__espacio{
    margin-top: 45px;
    margin-bottom: 45px;
}
.footer__center__espacio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__horizontal__espacio{
    width: 33%;
}

/* Formulario */
.footer__TextAreaLargo__espacio{
    width: 300px;
}

.footer__MarginMobile__espacio{
    @media only screen and (max-width: 768px){
        margin-top: 45px;
    }
}
.figure__size__espacio{
    height: 70%;
    width: 70%;
}