



.article__title__espacio{
    padding:15px;
    margin: 15px;
}

.div__imgTemporada__espacio{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 20px;
}
.div__title__espacio{
    display: flex;
    justify-content: center;
    padding: 28px;
}
.container_inicio_0margin{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}