$article-paragraph-font-size:22px;


/* Nav */
.nav__links__fuente{
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

 /* Titulos */
.article__title__fuente{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder ;
}

.paralax__stroke__fuente{
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    color: white;
    font-size: 68px;
    letter-spacing: 2.5rem;
    @media only screen and (max-width: 768px)
    {
        font-size: 36px;
        letter-spacing: 0.5rem;
    }
}

/* Titulo en "Hits" */
.div__titleHits__fuente{
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    color: white;
}

/* Texto */
.article__paragraph__fuente{
    font-size: $article-paragraph-font-size;
    font-family: 'KoHo', sans-serif;
    font-weight: 800;
    color: white;
    @media only screen and (max-width: 768px){
        font-size: 18px;
        font-weight:bold;
    }
}

/* Footer */
.footer__links__fuente{
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
}
.footer__redes__fuente{
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    i{
        color: rgb(255, 255, 255);
    }
}